.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    color:$colorLetra;
    background-color: $colorBackground;
    padding: 0%;
    .navbar{
        width: 100%;
        background-color: $colorBackground;
        padding: 0%;
        .container-fluid{
            background-color: $colorBackground;
            #hamburg{
                background-color: white;
                .icono{
                    color: white;
                }
            }
            .collapse{
                justify-content: center;
                margin: 0;
                max-width: 500px;
                .navbar-nav{
                    .nav-link{
                        color: $colorLetra;
                        transition: color 0.3s ease;
                        &:hover{
                            color: rgb(250, 225, 97);
                        }
                    }
                }
            }
        }
    }
    .containerHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 1%;
        margin: 1%;
        a{
            img{
                margin-right: 10px;
                vertical-align: middle;
                width: 50px;
                max-width: 400px; /* Establecer un ancho máximo para la imagen */
                border-radius: 8px; 
            }
        }
    }

}